 
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  background-color: rgb(242, 245, 248);
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
}
.nav_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav_toggle{
  font-size: 1.5rem;
  color:  hsl(205, 78%, 60%); 
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav_toggle:hover{
  color: hsl(205, 86%, 17%);
  transform: rotate(360deg);
}

.links a{
  color:hsl(209, 34%, 30%) ;
  text-transform:uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  display: block;
  transform: all 0.3s linear; 
  text-align: center;
}
img{
  width: 130px;
}
.links a:hover{
  background-color: hsl(205, 86%, 81%);
  color: black;
  padding-left: 1.5rem;
}
.links_container{
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show_container{
  height: 10rem;
}
.social_icons{
  display: none;
}
.search{
  display: none;
}
 
@media screen and (min-width: 800px) {
  .nav_center{
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
  }
  .nav_toggle{
    display: none;
  }
  .links{
    display: flex;
    gap: 1.5rem;
    
  }
  .links a:hover{
    background: transparent;
    padding: 0;
    color:hsl(205, 86%, 81%) ;
  }
  .links_container{
    height: auto !important;
  }
   .links a {
    padding: 0;
 
    
  }
  .social_icons{
   display: flex;
   gap: 1rem;
}
.social_icons a{
  font-size: 1.2rem;
  transition: all 0.3s linear;
  color:  hsl(205, 78%, 60%);

}
.nav_header{
  padding: 0;
}
 .social_icon a :hover{
   color:  hsl(205, 90%, 76%)
 }
}

@media screen and (min-width:1200px) {

  .search{
    display: block;
   
  }
  .search-head{
     width: 30vw;
     position: relative;
     height: 3rem;
    
    
  }
.search-head input{
  width: 100%;
  height: 3rem;
  border-radius: 20px;
  outline: none;
  padding: 0 3rem;
  font-size: 1.2rem;
  border: 1px solid hsl(205, 78%, 60%) ;
  box-shadow: 0.1rem 0.1rem 0.1rem hsl(205, 86%, 17%);
  background-color: whitesmoke;
  color: (205, 86%, 17%);
  
}
.special_icon{
  width: 10%;
  font-size: 1.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.2rem;
  border: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  color:  hsl(205, 78%, 60%);
 
  
  
 
   
}
  
}
